* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(254, 255, 198);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(226, 198, 37);
  border: 5px solid rgb(100, 100, 100);
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  background-color: yellowgreen;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: rgb(138, 35, 142);
}

#course-image {
  width: 300px;
}
